<mat-toolbar color="accent">
    <span>Sleep: Bobby</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon> 
    </button> 
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="space-around center" >

    <h1>00:00:00</h1>
   
    <div fxLayout="row" fxLayoutAlign="space-around center" >
    <button mat-raised-button color="accent">Start</button>
    <button mat-raised-button color="accent">Cancel</button>
    </div>

    <mat-divider></mat-divider>
  
    <p>No sleep has been recorded yet.</p>
  
  </div>