<mat-toolbar color="accent">
    <span>More</span>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-list  fxLayout="column" fxLayoutAlign="space-between">
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['devices']">Devices</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['diapers']">Diapers</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['lengths']">Lengths</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['persons']">Persons</button>
    </mat-list-item>    
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['photos']">Photos</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['pumping']">Pumpings</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['reminders']">Reminders</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['schedule']">Schedule</button>
    </mat-list-item>  
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['settings']">Settings</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['sharing']">Sharing</button>
    </mat-list-item>
    <mat-list-item>  
        <button mat-raised-button color="accent" fxFill [routerLink]="['stats']">Stats</button>
    </mat-list-item>     
</mat-list>


