.photobox {
    color: white;
    font-size: 25px;
    background-color:gray; 
    height: 300px;
    width: 300px;
}

.arrow {
    color: white;
    font-size: 25px;
    background-color:gray; 
    height: 50px;
    width: 50px;
}

mat-accordion {
    display: flex;
    flex-direction: column;
    min-width: 500px;
  }

.summary-icon {
    width: 75px;
}

.summary-text {
    width: 250px;
}

  
