<mat-toolbar color="accent">
    <span>Stats</span>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
      <mat-card class="card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <mat-card-title>WEIGHT</mat-card-title>
          <mat-card-subtitle>7lb 6oz</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            50% 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View Chart</button>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <mat-card-title>LENGTH</mat-card-title>
          <mat-card-subtitle>Add length to see growth ranking</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            50% 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View Chart</button>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>

  <mat-divider>7 Day Average</mat-divider>

  <mat-grid-tile>
    <mat-card class="card" fxLayout="column" fxLayoutAlign="space-around center">
      <mat-card-header>
        <mat-card-title>NUMBER OF FEEDINGS</mat-card-title>
        <mat-card-subtitle>Add more feedings to see average</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>View Chart</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <mat-card-title>AMOUNT PER FEEDING</mat-card-title>
          <mat-card-subtitle>Add more feedings to see average</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View Chart</button>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>