<mat-toolbar color="accent">
    <span>Settings</span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon> 
    </button> 
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="space-around center" >

    <mat-list role="list">
      <mat-list-item role="listitem">Account Info</mat-list-item>
      <mat-list-item role="listitem">Notifications</mat-list-item>
      <mat-list-item role="listitem">About</mat-list-item>
      <mat-list-item role="listitem">Privacy</mat-list-item>
      <mat-list-item role="listitem">Terms of Service</mat-list-item>
      <mat-list-item role="listitem">Share Data with Support</mat-list-item>
      <mat-list-item role="listitem">Sign Out</mat-list-item>
    </mat-list>   

</div>